{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">



<body>

    
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href=" ">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'category' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                {% for i in carts %}
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{i.product.product_image.url}}" height="50px" width="50px">
                                        </div>
                                 
                                       <td>
                                            <p>{{i.product.product_name}}</p>
                                        </td>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.product.product_price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <form name="change_qty" method="post" action="{% url 'change_qty' %}" >
                                            {% csrf_token %}
                                            <input type="hidden" name="pk" value="{{i.pk}}" class="input-text qty">
                                            
                                           
                                            <input type="number" value="{{i.product_qty}}" name="product_qty" onchange="this.form.submit()">
                                            
                                        </form>
                                        
                                    </div>
                                </td>
                                
                                <td>
                                    <h5>{{i.total_price}}</h5>
                                </td>
                                <td class="product-remove"><a href="{% url 'remove_from_cart' i.product.pk %}"><i class="fa fa-close"></i> </a></td>
                               
                            </tr>
                            {% endfor %}
                          
                            <tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" href="#">Update Cart</a>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Apply</a>
                                        <a class="gray_btn" href="#">Close Coupon</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>{{net_price}}</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li><a href="#">Flat Rate: $5.00</a></li>
                                            <li><a href="#">Free Shipping</a></li>
                                            <li><a href="#">Flat Rate: $10.00</a></li>
                                            <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                        </ul>
                                        <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                        <select class="shipping_select">
                                            <option value="1">Bangladesh</option>
                                            <option value="2">India</option>
                                            <option value="4">Pakistan</option>
                                        </select>
                                        <select class="shipping_select">
                                            <option value="1">Select a State</option>
                                            <option value="2">Select a State</option>
                                            <option value="4">Select a State</option>
                                        </select>
                                        <input type="text" placeholder="Postcode/Zipcode">
                                        <a class="gray_btn" href="#">Update Details</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                       
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <form method="post">
                    {% csrf_token %}
                        <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                        <!-- <a href="" type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</a> -->
                        <p id="demo"><button type="submit" value="submit" class="primary-btn">Click me.</button></p>
                    </form>
            </div>
        </div>
    </section>
    <script>
        
        document.getElementById("demo").addEventListener("click", myFunction);
        
        function myFunction() {
          document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
        }
        </script>
        
    <script>
        //var stripe=Stripe('pk_test_51O9sJPSDaj9kjgz1JZYHLZ2ppmsxQIiWhGGGEoQWf8gwd8ommMX0yNCb7KjEtTvfS8PwNgVv4eaoSIDfXbZKhXm100Ka9Rooqz');

        var checkoutButton=document.getElementById('checkout-button');
        document.getElementById("demo").addEventListener("click",myfunction);

        function myfunction(){
            console.log("something doing here");
            console.log("Inside the function")
            var stripe=Stripe('pk_test_51O9sJPSDaj9kjgz1JZYHLZ2ppmsxQIiWhGGGEoQWf8gwd8ommMX0yNCb7KjEtTvfS8PwNgVv4eaoSIDfXbZKhXm100Ka9Rooqz');
            console.log("stripe pub key",stripe);
            fetch('/create-checkout-session/',{
                method:'POST',
                headers:{
                    'Accept':'application/json',
                    'X-Requested-With':'XMLHttpRequest',
                },
                body:JSON.stringify({'post_data':'{{net_price}}'})
            })
        .then(function(response){
            return response.json();
        })
        .then(function(session){
            return stripe.redirectToCheckout({sessionId:session.id});
        })
        .then(function(result){
            if(result.error){
                alert(result.error.message);
            }
        })
        .catch(function(error){
            console.error('Error:',error);
        });
        };
    </script>
    
    <!--================End Cart Area =================-->
  
</body>

</html>
{% endblock %}  
