{% extends 'header.html' %}
{% load static %}
{% block content %}

<body>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register Form</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="profile.html">Profile Form</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/static/img/login.jpg"  alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
                    {% if msg %}
			  			<b style="font-size: 20px;color: #ffba00;">{{msg}}</b>
			  			{% endif %}
                         
					<div class="login_form_inner">
						
						<h3>Profile Form</h3>
						<form class="row login_form" action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
							<div class="col-md-12 form-group">
								
                                <input type="text"  name="fname" class="form-control" id="fname" value="{{user.fname}}" >
							</div>
							<div class="col-md-12 form-group">
								
                                <input type="text"  name="lname" class="form-control" id="lname" value="{{user.lname}}">
							</div>
                            <div class="col-md-12 form-group">
                                
                                <input type="email"  name="email" class="form-control" id="email" value="{{user.email}}" readonly>
							</div>
                            <div class="col-md-12 form-group">
								
					            <input type="tel"  name="phone" class="form-control" id="email" value="{{user.phone}}">
							</div>
                            <div class="col-md-12 form-group">
								
                                <textarea  class="form-control" id="message" name="address"  cols="30" rows="5">{{user.address}}</textarea>
							</div>
                            <div class="col-md-12 form-group">
								
					            <input type="password" placeholder="password" name="password" class="form-control" id="email">
							</div>
                            <div class="col-md-12 form-group">
								
					            <input type="password" placeholder="cpassword" name="cpassword" class="form-control" id="email">
							</div>
							<img src="{{user.profile_pic.url}}" height="100px" width="100px">
                            <div class="mb-3">
                                <label for="pwd">Upload Image:</label>
                                <input type="file" class="form-control" id="pwd" name="profile_pic">

                            </div>
							<button type="submit" class="btn btn-primary-hover-outline" >Update Profile</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	

</body>

</html>
{% endblock %}