{% extends 'seller_header.html' %}
{% block content %}
{% load static %}

<body>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Change Password</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						{% if msg %}
			  			<b style="font-size: 20px;color: #ffba00;">{{msg}}</b>
			  			{% endif %}
						<h3>Change Your Password</h3>
						
				
						<form class="row login_form" action="{% url 'seller_change_password' %}" method="post" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
                            <div class="form-group">
                                
                                <input type="password" placeholder="Old Password" name="oldpassword" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                
                                <input type="password" placeholder="New Password" name="newpassword" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                
                                <input type="password" placeholder="Confirm New Password" name="cnewpassword" class="form-control" id="email">
                            </div>
                            <div class="col-md-12 form-group">
								<div class="creat_account">
									
									<button type="submit" class="btn btn-primary-hover-outline">Submit</button>
								</div>
							</div>
                            
						</form>
					</div>
				</div>
                <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/static/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

</body>

</html>
{% endblock %}